In [1]:
import pandas as pd

In [2]:
data = [
    {
        "customerID": "9998880001", "sourceSystemCode": "HCM"
    },
        {
        "customerID": "9998880003", "sourceSystemCode": "HCM"
    },
        {
        "customerID": "9998880005", "sourceSystemCode": "HCM"
    }
]
source = pd.DataFrame(data)
source

   customerID sourceSystemCode
0  9998880001              HCM
1  9998880003              HCM
2  9998880005              HCM

In [3]:
# class BulkCrossRefLookup(AnnotatedStepFactory):
#     def __init__(self):
#         self.dcc = DealerCustomerConsolidationRef()

#     @step.transform_column.to_temp(target="temp_dealer_customer_consolidation")
#     def temp_dealer_customer_consolidation(self, source: pd.DataFrame) -> pd.Series:
#         # The source DataFrame will contain 2 columns customerID and sourceSystemCode
#         # and will have 3 rows of data as shown in example below
#         """
#             |customerID | sourceSystemCode|
#             |9998880001 | HCM             |
#             |9998880003 | HCM             |
#             |9998880005 | HCM             |
#         """

In [4]:
# Validate if customerID & sourceSystemCode exists in source DataFrame and assign a copy of the df to src_df and print "return" if not
# Type code below:

In [5]:
# Convert the source DataFrame to a list of dicts,
# and assign it to a variable called helper_input_list
# Type code below:

In [6]:
# # The lookup method below returns an iterator
# # object which contains decision objects.
# # Each decision object corresponds to one row in the source df.
# # A decision object can contain 1-n ValueChoice objects.
# # A ValueChoice object with the value set to None means
# # the lookup returned nothing for that row.
# decision_iterator = self.dcc.do_lookup(record_list=helper_input_list)

# """
# [
#     Decisions(
#             [
#                 ValueChoice(
#                     subject="test_dcc",
#                     value=None,
#                 ),
#             ]
#         ),
#     Decisions(
#             [
#                 ValueChoice(
#                     subject="test_dcc",
#                     value={
#                         "customerID":"9998880003",
#                         "sourceSystemCode": "HCM",
#                         "dealerCustomerNumber": "SS0002",
#                         "dealerCode": "SS02",
#                     },
#                 ),
#             ]
#         ),  
#     Decisions(
#             [
#                 ValueChoice(
#                     subject="test_dcc",
#                     value={
#                         "customerID":"9998880005",
#                         "sourceSystemCode": "HCM",
#                         "dealerCustomerNumber": "SS0002",
#                         "dealerCode": "SS02",
#                     },
#                 ),
#                 ValueChoice(
#                     subject="test_dcc",
#                     value={
#                         "customerID":"9998880005",
#                         "sourceSystemCode": "HCM",
#                         "dealerCustomerNumber": "SS0003",
#                         "dealerCode": "SS03",
#                     },
#                 )
#             ]
#         ),
# ]
# """

In [3]:
class ValueChoice:
    def __init__(self, subject, value):
        self.subject = subject
        self.value = value

    def __repr__(self):
        return f"ValueChoice(subject={self.subject}, value={self.value})"

class Decisions:
    def __init__(self, value_choices):
        self.value_choices = value_choices

    def __repr__(self):
        return f"Decisions(value_choices={self.value_choices})"

In [4]:
decision_iterator = iter([
    Decisions([
        ValueChoice(
            subject="test_dcc",
            value=None,
        ),
    ]),
    Decisions([
        ValueChoice(
            subject="test_dcc",
            value={
                "customerID": "9998880003",
                "sourceSystemCode": "HCM",
                "dealerCustomerNumber": "SS0002",
                "dealerCode": "SS02",
            },
        ),
    ]),
    Decisions([
        ValueChoice(
            subject="test_dcc",
            value={
                "customerID": "9998880005",
                "sourceSystemCode": "HCM",
                "dealerCustomerNumber": "SS0002",
                "dealerCode": "SS02",
            },
        ),
        ValueChoice(
            subject="test_dcc",
            value={
                "customerID": "9998880005",
                "sourceSystemCode": "HCM",
                "dealerCustomerNumber": "SS0003",
                "dealerCode": "SS03",
            },
        ),
    ]),
])

In [5]:
# Using the decision_iterator response from the lookup method above,
# iterate over the responses and capture the results.
# The Decisions objects contain nested objects
# (see example in doc string above).
# Decisions -> value_choice -> value
# Build a panda series that contains the return values for these lookups, matched with the source df.
# Each row of the panda series should only contain the lookup results of the corresponding row in the source DataFrame.
# If a row from the source DataFrame resulted in no lookup value being returned:
# (value=None), that row in the panda series should contain an empty dealer code list.
# The length of the panda series being returned should match the length of the source DataFrame.
# Final output: a pandas series which has the customer ids from the source and list of associated dealer codes from the lookup result.
# Type code below:

In [6]:
# 2. Given the mapping function below map_std_mfr_cd with dictionary as an input parameter,
# what unit test scenarios would you test?

def map_std_mfr_cd(temp: dict):
    if temp.get("standard_manufacturer_code") and len(temp.get("standard_manufacturer_code")) > 4:
        std_man_code = temp.get("standard_manufacturer_code")
    else:
        std_man_code = "NA"
    return std_man_code

In [7]:
# Write out your unit tests below

from unittest import TestCase


class MapRulesTest(TestCase):

    def test_map_std_mfr_cd(self):
        pass

In [8]:
import unittest

# Run the tests
unittest.main(argv=[''], verbosity=2, exit=False)

test_map_std_mfr_cd (__main__.MapRulesTest) ... ok

----------------------------------------------------------------------
Ran 1 test in 0.002s

OK

In [9]:
# •  Date Range Filtering:Question: Given a DataFrame with a Date column and a Sales column, how would you filter the DataFrame to include only rows where the Date falls within the last 90 days from today?

import pandas as pd
from datetime import datetime, timedelta

# Sample DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2024-01-01', periods=120),
    'Sales': range(120)
})

In [ ]:
# Question: Given a DataFrame with a column ['Amount'], write a custom function to categorize amounts into 'Low', 'Medium', or 'High' based on specified thresholds. Apply this function to create a new column with the categories.

import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Amount': [100, 500, 1500, 2500]
})

In [ ]:
# Advanced Merging:
# Question: Given DataFrames df1 with columns ['ID', 'Name'] and df2 with columns ['ID', 'Score', 'Date'], merge these DataFrames on ID and Date, keeping only the rows where Score is above 80 and Date is within the last 30 days.

import pandas as pd
from datetime import datetime, timedelta

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Score': [85, 90, 75],
    'Date': pd.date_range(start='2024-07-01', periods=3)
})

In [ ]:
sales_df = pd.DataFrame({
    'transaction_id': [1, 2, 3, 4, 5],
    'customer_id': [101, 102, 103, 101, 104],
    'product_id': [1001, 1002, 1003, 1001, 1004],
    'quantity': [2, 1, 3, 2, 1],
    'price': [10.0, 20.0, 15.0, 10.0, 25.0],
    'transaction_date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})
 
customers_df = pd.DataFrame({
    'customer_id': [101, 102, 103, 104],
    'customer_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com', 'david@example.com'],
    'signup_date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01']
})
 
products_df = pd.DataFrame({
    'product_id': [1001, 1002, 1003, 1004],
    'product_name': ['Product A', 'Product B', 'Product C', 'Product D'],
    'category': ['Category 1', 'Category 2', 'Category 1', 'Category 3'],
    'price': [10.0, 20.0, 15.0, 25.0]
})

In [ ]:
# Remove any duplicate records from all DataFrames.

In [ ]:
# Handle missing values by filling them with appropriate defaults or dropping the rows.

In [ ]:
# Calculate the total sales amount for each transaction (total_amount = quantity * price)

In [ ]:
# Convert transaction_date and signup_date to datetime format.

In [ ]:
# Extract the year and month from transaction_date and add them as new columns (year, month).